.cardsBox{
     display: flex;
     justify-content: space-around;
     padding: 40px;
     
} 

.cards{
    display: grid;
    grid-template-columns: 180px;
    grid-template-rows: 180px 40px 40;
    padding: 1%;
    grid-row: 1;  
    background-color: rgb(41, 41, 41);
    justify-items: center;    
    border-radius: 8px;    
    border-top: 5px solid rgb(22, 22, 22);
    border-right: 5px solid rgb(22, 22, 22);
}

.imgCard{    
    grid-column: 1/2;    
    height: 184px;
    width: 184px;    
}


.textCard{    
    grid-row: 2/3;    
    text-align: justify;       
    padding: 6px;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.valeurCard{
    
    grid-row: 3/4;
    padding: 6px;
    color: antiquewhite;
}

#autresCartes{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: smaller;
    text-align: end;
    padding-right: 7%;
    color: antiquewhite;
    padding-bottom: 3%;
    
}

#autresCartes:hover{
    text-decoration: underline;
}